/* indexStyles.css */

header{background-color:#CB6D1E;}
.main{background-color:#ffffff;}

.topnav{
  overflow:hidden;
}

.topnav a{
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.hoverColor:hover {
  background-color: #ffffff;
  color: #CB6D1E;
}

.topnav .icon {
  display: none;
}

.topnav .signupNav, .topnav .loginNav{
  float: right;
  padding-top: 15px;
  padding-bottom: 20px;
}

.topnav .signupNav:hover{
  background-color: #ffffff;
  color: #CB6D1E;
}

.topnav .loginNav:hover{
  background-color: #ffffff;
  color: #CB6D1E;
}

@media screen and (max-width: 870px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding-top: 35px;
    font-size: 30px;
  }
}

@media screen and (max-width: 870px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.popDesc{
  text-align: center;
  padding-bottom: 20px;
}

.mostPopular h2{
  text-align: center;
  padding-top: 20px;
}

.popItemsSec{
  padding-left: 60px;
}

.popItems{
  border: 5px solid #CB6D1E;
  border-radius: 50%;
  text-decoration: none;
}

.popItems:hover{
  opacity: 0.5;
}

.popItemsDesc{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 50px;
  text-decoration: none;
  color: #000000;
}

.searchForm{
  display: inline;
}

.searchInput{
  margin-left: 70px;
  padding-left: 10px;
  width: 400px;
  border-radius: 22px;
}

.searchInput:hover{
  background-color: #F0F0F0;
}

.searchInput:focus{
  outline: none;
}

.searchButton {
  width: 50px;
  height: 25px;
  border-radius: 22px;
}

  .searchButton:focus {
    outline: none;
  }

  .searchButton:hover{
    background-color: #F0F0F0;
  }



footer {
  background-color: #CB6D1E;
  padding:10px;
  color: #ffffff;
}

